<ion-header [translucent]="true">
  <ion-toolbar>
        <!-- Back button at the start of the toolbar -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- Title in the toolbar -->
    <ion-title>Ulster</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Main content section with fullscreen enabled -->
<ion-content [fullscreen]="true">
  <!-- Displaying an image of the Ulster flag -->
      <img src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Flag_of_Ulster.svg">
</ion-content>
