<!-- Header section of the page -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Back button positioned at the start (left side) of the toolbar -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- Title of the page displayed in the toolbar -->
    <ion-title>munster</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Main content area of the page -->
<ion-content [fullscreen]="true">
  <!-- Displays the Munster flag using an image tag -->
  <img src="https://upload.wikimedia.org/wikipedia/commons/7/7d/Flag_of_Munster.svg">
</ion-content>
